bower_components/
build/
#build.*
.idea/
.bowerrc
.DS_Store

## File-based project format
*.ipr
*.iml
*.iws

# igonre css files as all style sheats are created via SCSS
# TODO(sandro-k) remove css files after moving all styles to the elements
# *.css
styles/*.css
node_modules

/.sass-cache/

/build/
