[submodule "bower_components/mqtt-lens"]
	path = bower_components/mqtt-lens
	url = https://github.com/sandro-k/mqtt-lens.git
	fetchRecurseSubmodules = true
[submodule "bower_components/mqtt-message-ui"]
	path = bower_components/mqtt-message-ui
	url = https://github.com/sandro-k/mqtt-message-ui.git
	fetchRecurseSubmodules = true
[submodule "bower_components/mqtt-message-detail-ui"]
	path = bower_components/mqtt-message-detail-ui
	url = https://github.com/sandro-k/mqtt-message-detail-ui.git
	fetchRecurseSubmodules = true
[submodule "bower_components/mqtt-connection-ui"]
	path = bower_components/mqtt-connection-ui
	url = https://github.com/sandro-k/mqtt-connection-ui.git
	fetchRecurseSubmodules = true
[submodule "bower_components/mqtt-connection"]
	path = bower_components/mqtt-connection
	url = https://github.com/sandro-k/mqtt-connection.git
	fetchRecurseSubmodules = true
[submodule "bower_components/mqtt-lens-style"]
	path = bower_components/mqtt-lens-style
	url = https://github.com/sandro-k/mqtt-lens-style.git
	fetchRecurseSubmodules = true
[submodule "bower_components/mqtt-subscription-ui"]
	path = bower_components/mqtt-subscription-ui
	url = https://github.com/sandro-k/mqtt-subscription-ui.git
	fetchRecurseSubmodules = true
[submodule "bower_components/changeover-icon"]
	path = bower_components/changeover-icon
	url = https://github.com/sandro-k/changeover-icon.git
	fetchRecurseSubmodules = true
[submodule "bower_components/code-pretty"]
	path = bower_components/code-pretty
	url = https://github.com/sandro-k/code-pretty.git
	fetchRecurseSubmodules = true
[submodule "bower_components/chrome-storage"]
	path = bower_components/chrome-storage
	url = https://github.com/sandro-k/chrome-storage.git
